@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./_variables";

body {
  color: $grey-dark;
  font-family: $body-font;
  font-size: $body-font-size;
  background: $grey-light;
  min-height: 80vh;
}
